*{
    box-sizing: border-box;
}
header{
    height: 120px;
    background-color: rgb(148, 27, 27);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#top{
    height: 35px;
    background-color: #000000;
    border-radius: 0 0 10px 10px;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
}
#container{
    height: 600px;
    background-color: rgb(253, 243, 215);
    width: 850px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer{
    height: 80px;
    background-color: rgb(94, 95, 95);
    font-size: 20px;
    font-family: Helvetica;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
}
.box{
    height: 80%;
    width: 80%;
    border: 2px solid black;
}
#title{
    margin-left: 0px;
    font-size: 50px;
    font-weight: bold;
    font-family: Helvetica;
}
header img{
    width: 120px;
    margin-left: 120px;
}
#order{
    margin-right: 0px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
#order a{
    font-family: Helvetica;
    color: black
}
form{
    font-family: Helvetica;
    font-size: 20px;
}
main .box{
    text-align : center;
    font-family: Helvetica;
    font-size: 25px;
    font-weight: Bold;
}