<!DOCTYPE html>
{% load static %}
<html lang="kor">
    <head>
        <meta charset="utf-8">
        <title>Share my talent_Sogang</title>
        <link rel="stylesheet" type="text/css" href="{% static 'sharemytalent/css/detailstyle.css' %}">
    </head>
    <body>
        <header>
            <img src="{% static 'sharemytalent/image/서강이1.png' %}">
            <div id="title" >Share your talent_Sogang</div>
            <div id="order">
                <a href="{% url 'home' %}">Home</a>
            </div>
        </header>
        <main>
            <div id="top">댓글을 남겨 매칭을 시도하세요!</div>
            <div id="container">
                <div class="box" style="overflow:auto";>
                    <p>{{ post.title }}</p>
                    <hr width="100%" align="center" color="black">
                    {% if post.pub_date %}
                        <div class="date">
                            {{ post.pub_date }}
                        </div>
                    {% endif %}
                    <hr width="100%" align="center" color="black">
                    <div class="body">{{ post.body|linebreaks }}</div>

                    <a href="{% url 'edit' pk=post.pk %}">수정하기</a><br>
                    <a href="{% url 'delete' pk=post.pk %}">삭제하기</a>

                    <div class="comment">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="text", name="text">
                            <button type="submit">댓글 달기</button>
                        </form>
    
                        {% for comment in comment_list %}
                        <p>{{ comment.created_date }}</p>
                        <p>{{ comment.text|linebreaks }}</p>
                        <a href="{% url 'delete_comment' pk=post.pk comment_pk=comment.pk %}">댓글 삭제</a>
                        <hr width="100%" align="center" color="black">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
        <footer>Just share your talent!</footer>
    </body>
</html>