<!DOCTYPE html>
{% load static %}
<html lang="kor">
    <head>
        <meta charset="utf-8">
        <title>Share my talent_Sogang</title>
        <link rel="stylesheet" type="text/css" href="{% static 'sharemytalent/css/homestyle.css' %}">
    </head>
    <body>
        <header>
            <img src="{% static 'sharemytalent/image/서강이1.png' %}">
            <div id="title" >Share your talent_Sogang</div>
            <div id="order">
                <a href="{% url 'new' %}">Be a mentor!</a>
                <a href="{% url 'want' %}">Be a mentee!</a>
            </div>
        </header>
        <main>
            <div id="top">서강인의 재능 공유의 장, Share your talent입니다!</div>
            <div id="container">
                <div class="box" style="overflow:auto";>
                    {% for post in posts_list %}
                        <a href="{% url 'detail' pk=post.pk %}">{{ post.title }}</a>
                        <hr width="100%" size="1px" align="center" color="black">
                    {% endfor %}
                </div>
            </div>
        </main>
        <footer>Just share your talent!</footer>
    </body>
</html>