{% extends 'sharemytalent/base.html' %}
{% block content %}
{% load static %}

<main>
    <div id="top">멘토에게 배우고 싶은 재능을 올려주세요!</div>
        <div id="container">
            <div class="box">
                <p>Which talent do you want?</p>
                <hr width="100%" align="center" color="black">
                <form method="POST" class="post-form"> {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">업로드</button>
                </form>
            </div>
        </div>
</main>

<footer>Just share your talent!</footer>

{% endblock %}